<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/template::header"></head>
<body>
<div id="wrapper">

    <nav th:replace="common/template::nav"></nav>

    <!-- BODY -->
    <div id="page-wrapper">
        <!-- Page Crumbs -->
        <div class="container-title">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header"><i class="fa fa-user"></i> 控制台</h1>
                </div>
            </div>
        </div>

        <!-- control button -->
        <div class="row" id="console-plate">
            <div class="col-md-12">
                <div class="panel panel-default">
                    控制台暂时不做
                </div>
                <!-- /.panel -->
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<div th:replace="common/template::footer"></div>
</body>
</html>