<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/template::header"></head>
<body>
<div id="wrapper">

    <nav th:replace="common/template::nav"></nav>

    <!-- BODY -->
    <div id="page-wrapper">
        <!-- Page Crumbs -->
        <div class="container-title">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header" th:inline="text"><i class="fa fa-user"></i> 图片预览</h1>
                </div>
            </div>
        </div>

        <form id="form" role="form" th:action="@{/bing}" method="get">
            <!-- search -->
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default" style="border: 1px solid #ddd;">
                        <div class="panel-body">

                            <div class="row">

                                <div class="col-md-1"><label style="line-height: 35px">图片标题</label></div>
                                <div class="col-md-3"><input class="form-control" name="bTitle"
                                                             th:placeholder="#{bing.photo.search.title.tip}"
                                                             th:value="${queryItem?.bTitle}"></div>

                                <div class="col-md-1"><label style="line-height: 35px">图片日期</label></div>
                                <div class="col-md-3"><input class="form-control" name="bDate"
                                                             th:placeholder="#{bing.photo.search.date.tip}"
                                                             th:value="${queryItem?.bDate}"></div>

                                <div class="col-md-1">
                                    <button type="submit" class="btn btn-outline btn-warning"
                                            th:text="#{ms.oper.search}">搜索
                                    </button>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <!-- photo -->
            <div class="row" id="console-plate">
                <div class="col-md-12">

                    <div th:if="${itemPage.numberOfElements <= 0}" th:text="#{bing.photo.list.empty.tip}"></div>

                    <div class="row" th:each="row : ${#numbers.sequence(1, rowNum)}">
                        <div th:class="'col-lg-' + ${12 / colNum}" th:each="item,stat : ${itemPage}"
                             th:if="${stat.count > colNum * (row - 1) && stat.count <= row * colNum}">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="">
                                    <span th:text="${item.bTitle + ' | ' + #dates.format(item.bDate,'yyyy-MM-dd')}"></span>

                                    <span class="photo-icon info-icon"
                                          th:unless="${item.bDesc != null && item.bDesc.length() > 50}"
                                          th:onclick="'reacquirePhotoInfoAjax(' + ${item.id} + ', this)'"><i
                                            class="fa fa-tags"></i></span>

                                    <span class="photo-icon mail-icon"
                                          th:onclick="'sendMail(' + ${item.id} + ', this)'"><i
                                            class="fa fa-envelope"></i></span>
                                    <span class="photo-icon del-icon" th:onclick="'delItem(' + ${item.id} + ')'"><i
                                            class="fa fa-times"></i></span>
                                </div>
                                <div class="panel-body photo-panel-body">
                                    <img th:src="${item.smallImgUrl}" width="100%">
                                </div>
                                <div class="panel-footer">
                                    <p><a th:href="${item.imgCopyrightLink}" target="_blank"
                                          th:text="${item.imgCopyright}"></a></p>
                                    <p class="desc" th:text="${item.bDesc}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- page -->
            <input type="hidden" id="page-box" name="page"/>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default" style="border: 1px solid #ddd;">
                        <div class="panel-body">
                            <div class="row" th:inline="text">
                                <div class="col-md-9" style="text-align: right">
                                    <button type="button" class="btn btn-outline btn-warning"
                                            th:text="#{ms.oper.firstpage}" onclick="jumpTo(1)">
                                        首页
                                    </button>
                                    <button type="button" class="btn btn-outline btn-warning"
                                            th:text="#{ms.oper.prevpage}"
                                            th:onclick="${'jumpTo(' + itemPage.number + ')'}"
                                            th:if="${itemPage.number > 0}">
                                        上一页
                                    </button>
                                    <button type="button" class="btn btn-outline btn-warning"
                                            th:text="#{ms.oper.nextpage}"
                                            th:onclick="${'jumpTo(' + (itemPage.number + 2) + ')'}"
                                            th:if="${itemPage.number + 2 < itemPage.totalPages}">
                                        下一页
                                    </button>
                                    <button type="button" class="btn btn-outline btn-warning"
                                            th:text="#{ms.oper.lastpage}"
                                            th:onclick="${'jumpTo(' + itemPage.totalPages + ')'}">
                                        尾页
                                    </button>
                                </div>
                                <div class="col-md-3" style="line-height:35px;text-align:right;">
                                    <span>第[[${itemPage.number + 1}]]页 / 共[[${itemPage.totalPages}]]页</span>
                                    <input class="form-control" id="input-page-box" style="width:30%;display:inline;"
                                           th:placeholder="#{bing.photo.page.fill.tip}">
                                    <button type="button" onclick="jumpTo($('#input-page-box').val())"
                                            class="btn btn-outline btn-warning" th:text="#{ms.oper.jump}">
                                        跳转
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!-- create -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default" style="border: 1px solid #ddd; padding: 10px;">
                    <div class="panel-body">
                        <form role="form" th:action="@{/bing/create.ms}" method="post">
                            <div class="row">
                                <div class="col-md-5">
                                    <label style="line-height: 35px;float:left;padding-right:10px;">手动采集</label>
                                    <input class="form-control" name="date" style="width: 70%"
                                           th:placeholder="#{bing.photo.create.tip} + ' (' + ${dateFormat} + ')'">
                                </div>
                                <div class="col-md-1">
                                    <button type="submit" class="btn btn-outline btn-warning"
                                            th:text="#{ms.oper.submit}">提交
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /#page-wrapper -->

</div> <!-- /#wrapper -->

<div th:replace="common/template::footer"></div>
</body>
<style>
    .panel-default {
        border: 0;
    }

    .photo-panel-body {
        padding: 0 !important;
    }

    .panel-heading {
        border: 1px solid #ddd;
        border-bottom: 0;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
        box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
        position: relative;
    }

    .panel-heading .photo-icon {
        position: absolute;
        top: -13px;
    }

    .panel-heading .photo-icon .fa {
        font-size: 24px;
        color: #757575;
    }

    .panel-heading .photo-icon .fa:hover {
        color: #e40707;
        cursor: pointer;
    }

    .panel-heading .del-icon {
        right: -10px;
    }

    .panel-heading .mail-icon {
        top: -9px;
        right: 15px;
    }

    .panel-heading .mail-icon .fa {
        font-size: 18px;
    }

    .panel-heading .mail-icon .fa:hover {
        color: #337ab7;
    }

    .panel-heading .info-icon {
        top: -9px;
        right: 40px;
    }

    .panel-heading .info-icon .fa {
        font-size: 18px;
    }

    .panel-heading .info-icon .fa:hover {
        color: #337ab7;
    }

    .panel-footer {
        border: 1px solid #ddd;
        border-top: 0;
    }

    .panel-footer .desc {
        color: #666;
    }
</style>

<script th:inline="javascript">
    function delItem(id) {
        if (window.confirm([[#{bing.photo.delete.tip}]])) {
            window.location.href = '/bing/doDelete.ms?id=' + id;
        }
    }

    function jumpTo(page) {
        $('#page-box').val(page);
        $('#form').submit();
    }

    /*function reacquirePhotoInfo(id) {
        window.location.href = '/bing/reacquirePhotoInfo.ms?id=' + id;
    }*/

    function sendMail(id, btn) {
        $.ajax({
            url: '/bing/sendMail.ms',
            type: 'get',
            dataType: 'json',
            data: {id: id},
            beforeSend: function () {
                //alert('正在发送...');
                $(btn).hide();
            },
            success: function (res) {
                if (res) {
                    if (res.status == 1) alert("发送成功");
                    else alert(res.msg);
                }
            },
            error: function () {
                alert("发送失败");
            },
            complete: function () {
                $(btn).show();
            }
        });
    }

    function reacquirePhotoInfoAjax(id, btn) {
        $.ajax({
            url: '/bing/reacquirePhotoInfoAjax.ms',
            type: 'post',
            dataType: 'json',
            data: {id: id},
            beforeSend: function () {
                //alert('正在发送...');
                $(btn).hide();
            },
            success: function (res) {
                if (res) {
                    if (res.status == 1 && res.data.length > 50) {
                        $(btn).parents('.panel').find('.desc').text(res.data);
                        alert("获取成功")
                    }
                    else
                        $(btn).show();
                }
            },
            error: function () {
                alert("获取失败");
            }
        });
    }
</script>
</html>